.container {
  position: relative;
  height: 400px;
  border: 2px solid #333;
  margin-bottom: 50px;
}

.box {
  width: 100px;
  height: 100px;
  color: white;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
}

/* Static */
.static {
  position: static;
  background-color: teal;
}

/* Relative */
.relative {
  position: relative;
  top: 20px;
  left: 20px;
  background-color: orange;
}

/* Absolute */
.absolute {
  position: absolute;
  top: 50px;
  left: 150px;
  background-color: crimson;
}

/* Fixed */
.fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: purple;
}

/* Sticky */
.sticky {
  position: sticky;
  top: 10px;
  background-color: green;
}
