/* ស្ទាយសម្រាប់ទំព័រ */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Box container ជុំជុំ */
/* ----- border-radius = Table កោងជុំជុំ ----- */
.content {
  background-color: white;
  border: 2px solid #2196f3;
  border-radius: 12px; 
  padding: 20px 40px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}


 
/* ----- ចំណងជើងខ្លួនធំ h1 ----- */
h1 {
  color: #2196f3;
  font-size: 28px;
  margin-bottom: 25px;
}

 

/* ----- តារាងទាំងមូល ----- */
table {
  width: 100%;
  border-collapse: collapse;
  max-width: 500px;
  margin: 0 auto;

}

 

/* ----- ក្បាលតារាង ----- */
th {
  background-color: #2196f3;
  color: rgb(255, 255, 255);
  text-align:  center;
  padding: 10px 15px;
  font-size: 20px;
}

/* ខ្លឹមសារតារាង */
td {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
  text-align:   left;
  
}

/* ស៊ុមខាងក្រៅ */
table, th, td {
  border: 1px solid #bababa;
   
  
}

/* បំបាត់ស៊ុមខាងក្រៅចុងក្រោយ */
/* tr:last-child td {
  border-bottom: none;
} */

/* បើ mouse hover បន្លិចខ្សោយៗ */
tr:hover td {
  background-color: #f3a30f;
  transition: 0.3s;
}

 