.container {
position: relative;
width: 400px;
height: 300px;
border: 2px solid #000;
margin: 50px auto;
}
.box {
position: absolute;
width: 150px;
height: 150px;
color: white;
font-weight: bold;
text-align: center;
line-height: 150px;
opacity: 0.9;
}
.box1 {
background-color: red;
top: 30px;
left: 30px;
z-index: 1;
}
.box2 {
background-color: blue;
top: 60px;
left: 60px;
z-index: 2;
}
.box3 {
background-color: green;
top: 90px;
left: 90px;
z-index: 0;
}